
.container{
    margin-bottom: 100px;
}
.slider-heading{
    background-image: url(/img/bg-1.png);
    background-repeat: no-repeat;
}
.container-bg{
    overflow: auto;
    margin-top: -300px;
}
.carousel-indicators [data-bs-target]{
    background-color: bisque;
}
.carousel-indicators .active{
    padding: 0px 10px;
}
.buy-now-button{
    color: white;
    background-color: black;
    padding: 5px 20px;
    border-radius: 5px;
}
.col-md-6 p{
    color: gray;
}
.card{
    border: none;
    box-shadow: 5px 10px 20px lightgray;
    height: 700px;
    padding: 60px 5px;
    border-radius: 10px;
}
.card-img{
    align-self: center;
    width: 250px;
}
.card-text{
    size: 10px;
}
.link-color{
    text-decoration: none;
    color: rgb(232, 167, 82);
}
#cetagoris-card img{
    width: 100px;
}
#cetagoris-card{
    height: 65%;
    box-shadow: 5px 10px 20px lightgray;
    border-radius: 0px 30px;
}
#cetagoris-card-2 img{
    width: 100px;
}
#cetagoris-card-2{
    height: 45%;
    box-shadow: 5px 10px 20px lightgray;
    border-radius: 30px 0px;
}
.top-padding{
    margin-top: 170px;
    /* padding-top: 150px; */
}
